@model JamesonBugTracker.Models.ViewModels.ProjectDetailsViewModel
@using JamesonBugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@inject IBTProjectService _projectService
@{
    ViewData["Title"] = $"{Model.Project.Name} - Details";
    var projectManager = await _projectService.GetProjectManagerAsync(Model.Project.Id);
}
@inject IBTFileService _fileService
@inject IBTTicketService _ticketService
@inject UserManager<BTUser> _userManager

@section Header{
    <link href="~/plugins/chart.js/Chart.css" rel="stylesheet" />
}
<div class="container-fluid">
    <partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
    @if (Model.Project.Archived)
    {

        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5><i class="icon fas fa-archive"></i>Archived</h5>
            This project was Archived on @string.Format("{0:MMM dd yyyy}", Model.Project.ArchiveDate)
        </div>
    }
    <div class="row">
        <div class="col-md-3">

            <!-- Project Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle member-img"
                             src="@_fileService.ConvertByteArrayToFile(Model.Project.ImageFileData,Model.Project.ImageFileContentType)"
                             alt="Project Icon">
                    </div>

                    <h3 class="profile-username text-center">@Model.Project.Name</h3>

                    <p class="text-muted ">@Model.Project.Description</p>

                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Start Date</b> <p class="float-right">@string.Format("{0:MMM dd yyyy}", Model.Project.StartDate)</p>
                        </li>
                        <li class="list-group-item">
                            <b>End Date</b> <p class="float-right">@string.Format("{0:MMM dd yyyy}", Model.Project.EndDate)</p>
                        </li>
                        <li class="list-group-item">
                            <b>Priority</b> <p class="float-right">@Model.Project.ProjectPriority.Name</p>
                        </li>
                    </ul>

                    <a asp-controller="Tickets" asp-action="Create" asp-route-id="@Model.Project.Id" asp-route-db="true" class="btn btn-primary btn-block"><b>Add Ticket</b></a>
                    @if ((User.IsInRole("ProjectManager") && _userManager.GetUserId(User) == projectManager.Id) || User.IsInRole("Admin"))
                    {
                        @if (Model.Project.Archived == true)
                        {

                            <a class="btn btn-success btn-block" asp-action="UnArchive" asp-route-id="@Model.Project.Id"><i class="icon fas fa-archive"></i>Unarchive</a>
                        }
                        else
                        {
                            <a class="btn btn-danger btn-block" asp-action="Archive" asp-route-id="@Model.Project.Id"><i class="icon fas fa-archive"></i>Archive</a>

                        }
                        <a class="btn btn-warning btn-block" asp-action="Edit" asp-route-id="@Model.Project.Id"><i class="icon fas fa-edit"></i>Edit</a>
                    }
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- About Me Box -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Members</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <strong>Project Manager: @projectManager?.FullName</strong>
                    <hr />
                    @foreach (var member in Model.Project.Members)
                    {
                        <div class="row">
                            <div class="col-8">

                                <strong><i class="fas fa-book mr-1"></i> @member.FullName</strong>
                                <p class="text-muted">
                                    <span class="users-list-date">@((await _ticketService.GetAllTicketsByRoleAsync("Submitter", member.Id)).Count) Submitted</span>
                                    <span class="users-list-date">@((await _ticketService.GetAllDeveloperTicketsByResolvedAsync(member.Id, false)).Count) Open Tickets</span>
                                </p>
                            </div>
                            <div class="col-4">

                                <img src="@_fileService.GetUserAvatar(member)" class="img-circle img-fluid sm-sq-img" />
                            </div>

                        </div>
                        <hr>
                    }
                    @if ((User.IsInRole("ProjectManager") && projectManager.Id == _userManager.GetUserId(User)) || User.IsInRole("Admin"))
                    {
                        <a asp-action="AddMembers" asp-route-id="@Model.Project.Id" class="btn btn-block btn-primary">
                            <i class="fas fa-user mr-2">
                            </i>Assign Users
                        </a>
                    }

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <!--Row of charts-->
            <div class="row px-2">
                <div class="col-md-4">

                    <!-- DONUT CHART Type -->
                    <div class="card shadow elevation-1">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>Ticket Types</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="typeChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- DONUT CHART Status -->
                <div class="col-md-4">

                    <div class="card shadow elevation-1">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>Ticket Status</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="statusChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- DONUT CHART Priority-->
                <div class="col-md-4">

                    <div class="card shadow elevation-1">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>Ticket Priority</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="priorityChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!--Ticket Table-->
            <div class="card">
                <div class="card-header p-2">
                    <h4 class="card-title"> Open Tickets</h4>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <table id="ticketTable" class="table dataTable">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Developer</th>
                                <th>Submitter</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.OpenTickets)
                            {
                                <tr>
                                    <td>@ticket.Title</td>
                                    <td>@string.Format("{0:MM/dd/yy}", ticket.Created)</td>
                                    <td>@string.Format("{0:MM/dd/yy}", ticket.Updated)</td>
                                    <td>@ticket.DeveloperUser?.FullName</td>
                                    <td>@ticket.OwnerUser?.FullName</td>
                                    <td>@ticket.TicketType.Name</td>
                                    <td>@ticket.TicketStatus.Name</td>
                                    <td><span class="badge priorityBadge">@ticket.TicketPriority.Name</span></td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" class="btn btn-default">Details</a>
                                            <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu bg-warning" role="menu">
                                                <a class="dropdown-item bg-warning" asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a>
                                                <a class="dropdown-item bg-danger" asp-controller="Tickets" asp-action="Archive" asp-route-id="@ticket.Id">Archive</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card">
                <div class="card-header p-2">
                    <h4 class="card-title">Resolved Tickets</h4>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <table id="resolvedTicketTable" class="table dataTable">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Developer</th>
                                <th>Submitter</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.ResolvedTickets)
                            {
                                <tr>
                                    <td>@ticket.Title</td>
                                    <td>@string.Format("{0:MM/dd/yy}", ticket.Created)</td>
                                    <td>@string.Format("{0:MM/dd/yy}", ticket.Updated)</td>
                                    <td>@ticket.DeveloperUser?.FullName</td>
                                    <td>@ticket.OwnerUser?.FullName</td>
                                    <td>@ticket.TicketType.Name</td>
                                    <td>@ticket.TicketStatus.Name</td>
                                    <td><span class="badge priorityBadge">@ticket.TicketPriority.Name</span></td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" class="btn btn-default">Details</a>
                                            <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu bg-warning" role="menu">
                                                <a class="dropdown-item bg-warning" asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a>
                                                <a class="dropdown-item bg-danger" asp-controller="Tickets" asp-action="Archive" asp-route-id="@ticket.Id">Archive</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card collapsed-card">
                <div class="card-header p-2">
                    <h4 class="card-title">Archived Tickets</h4>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <table id="archiveTable" class="table dataTable">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Developer</th>
                                <th>Submitter</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.ArchivedTickets)
                            {
                                <tr>
                                    <td>@ticket.Title</td>
                                    <td>@string.Format("{0:MM/dd/yy}", ticket.Created)</td>
                                    <td>@string.Format("{0:MM/dd/yy}", ticket.ArchiveDate)</td>
                                    <td>@ticket.DeveloperUser?.FullName</td>
                                    <td>@ticket.OwnerUser?.FullName</td>
                                    <td>@ticket.TicketType.Name</td>
                                    <td>@ticket.TicketStatus.Name</td>
                                    <td><span class="badge priorityBadge">@ticket.TicketPriority.Name</span></td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-action="Details" asp-controller="Tickets"  asp-route-id="@ticket.Id" class="btn btn-default">Details</a>
                                            <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu bg-warning" role="menu">
                                                <a class="dropdown-item bg-warning" asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a>
                                                <a class="dropdown-item bg-danger" asp-controller="Tickets"  asp-action="Archive" asp-route-id="@ticket.Id">Archive</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.card-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->

<div>
    @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
    {

        <a asp-action="Edit" asp-route-id="@Model.Project.Id">Edit</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script src="~/js/PriorityBadge.js"></script>
    <script src="~/plugins/chart.js/Chart.bundle.js"></script>
    <script>
        $("#archiveTable").collapse({'hide':true})
        var isDark = document.getElementById("layoutBody").classList.contains("dark-mode")
        if (isDark) {
            //Dark colors RED Orange YELLOW Green blue (primary)
            backgroundColor = ['#e74b3c', '#fd7e14', '#f39c12', '#06BC8C', '#3f6791', '#6f42c1']
            textColor = '#dddddd'
        } else {
            //Light colors
            backgroundColor = ['#dc3545', '#fd7e14', '#ffc108', '#27a745', '#1385ff', '#6f42c1',]
            textColor = '#202529'

        }
        function chartWithAjax(url, data, id) {
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //Donut
                    var donutChartCanvas = $(id).get(0).getContext('2d')
                    var donutData = result
                    for (var i = 0; i < donutData.datasets.length; i++) {
                        donutData.datasets[i].backgroundColor = backgroundColor
                    }
                    var donutOptions = {
                        maintainAspectRatio: false,
                        responsive: true,
                        legend: {
                            labels: {
                                fontColor: textColor
                            }
                        }
                    }
                    //Create pie or douhnut chart
                    // You can switch between pie and douhnut using the method below.
                    new Chart(donutChartCanvas, {
                        type: 'doughnut',
                        data: donutData,
                        options: donutOptions
                    })
                },
                failure: function (result) {
                    alert(result.d + "Failed");
                },
                error: function (result) {
                    alert(result.d + "Error");
                }
            });
        }
        function charts() {

        chartWithAjax("/Home/ProjStatusChartMethod", { projId: @Model.Project.Id }, "#statusChart")
                    chartWithAjax("/Home/ProjTypeChartMethod", { projId: @Model.Project.Id }, "#typeChart")
                    chartWithAjax("/Home/ProjPriorityChartMethod", { projId: @Model.Project.Id }, "#priorityChart")
        }
        charts();
    </script>
    <script>
        $(document).ready(function () {
            $('#ticketTable').DataTable();
            $('#resolvedTicketTable').DataTable();
            $('#archiveTable').DataTable()
        });
    </script>
    <script src="~/js/chartBasics.js"></script>
}