@model JamesonBugTracker.Models.Project
@using JamesonBugTracker.Services.Interfaces
@inject IBTProjectService _projectService
@{
    ViewData["Title"] = "Details";
    var projectManager = await _projectService.GetProjectManagerAsync(Model.Id);
}
@section Header{
    <link href="~/plugins/chart.js/Chart.css" rel="stylesheet" />
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="../../dist/img/user4-128x128.jpg"
                             alt="User profile picture">
                    </div>

                    <h3 class="profile-username text-center">@Model.Name</h3>

                    <p class="text-muted ">@Model.Description</p>

                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Start Date</b> <a class="float-right">@string.Format("{0:MMM dd yyyy}", Model.StartDate)</a>
                        </li>
                        <li class="list-group-item">
                            <b>End Date</b> <a class="float-right">@string.Format("{0:MMM dd yyyy}", Model.EndDate)</a>
                        </li>
                        <li class="list-group-item">
                            <b>Priority</b> <a class="float-right">@Model.ProjectPriority.Name</a>
                        </li>
                    </ul>

                    <a asp-controller="Tickets" asp-action="Create" class="btn btn-primary btn-block"><b>Add Ticket</b></a>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- About Me Box -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Members</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <strong>Project Manager: @projectManager?.FullName</strong>
                    <hr />
                    @foreach (var member in Model.Members)
                    {
                        <strong><i class="fas fa-book mr-1"></i> @member.FullName</strong>

                        <p class="text-muted">
                            Number of tickets assigned, number of tickets submitted
                        </p>

                        <hr>
                    }

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <!--Row of charts-->
            <div class="row">
                <div class="col-md-4">

                    <!-- DONUT CHART Type -->
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Ticket Types</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="typeChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- DONUT CHART Status -->
                <div class="col-md-4">

                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Ticket Status</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="statusChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- DONUT CHART Priority-->
                <div class="col-md-4">

                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Ticket Priority</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="priorityChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!--Ticket Table-->
            <div class="card">
                <div class="card-header p-2">
                    <h4>Tickets</h4>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <table id="ticketTable" class="table dataTable">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Created</th>
                                <th>Developer</th>
                                <th>Submitter</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Priority</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.Tickets)
                            {
                                <tr>
                                    <td>@ticket.Title</td>
                                    <td>@string.Format("{0:MMM dd yyyy}", ticket.Created)</td>
                                    <td>@ticket.DeveloperUser?.FullName</td>
                                    <td>@ticket.OwnerUser?.FullName</td>
                                    <td>@ticket.Description</td>
                                    <td>@ticket.TicketType.Name</td>
                                    <td><span class="badge priorityBadge">@ticket.TicketPriority.Name</span></td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@ticket.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@ticket.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script src="~/js/PriorityBadge.js"></script>
    <script src="~/plugins/chart.js/Chart.bundle.js"></script>
    <script>
        let types = [0,0,0,0]
        let statuses = [0,0,0,0,0,0]
        let priority = [0,0,0,0]
        @foreach (var ticket in Model.Tickets)
        {
            @:types[@(ticket.TicketTypeId-1)]++
            @:statuses[@(ticket.TicketStatusId-1)]++
            @:priority[@(ticket.TicketPriorityId-1)]++
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#ticketTable').DataTable();
        });
    </script>
    <script src="~/js/chartBasics.js"></script>
    <script src="~/js/ProjectDetails.js"></script>
}