
@model IEnumerable<JamesonBugTracker.Models.Project>

@{
    ViewData["Title"] = "My Projects";
}
@section Header{
    <link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />

}
<h1>My Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Projects</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table id="projectTable" class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 20%">
                            Project Name
                        </th>
                        <th style="width: 10%">
                            Team Members
                        </th>
                        <th style="width: 20%">
                            Project Progress
                        </th>
                        <th style="width: 8%" class="text-center">
                            Status
                        </th>
                        <th style="width: 25%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model)
                    {

                        <tr>
                            <td>
                                <a>
                                    @project.Name
                                </a>
                                <br />
                                <small>
                                    @string.Format("{0:MMM dd yyyy}", project.StartDate)
                                </small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    @foreach (var member in project.Members)
                                    {

                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                                        </li>
                                    }
                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                                    </div>
                                </div>
                                <small>
                                    57% Complete
                                </small>
                            </td>
                            <td class="project-state">
                                <span class="badge badge-success">@project.ProjectPriority.Name</span>
                            </td>
                            <td class="project-actions text-right">
                                <a asp-action="Edit" asp-route-id="@project.Id">
                                    <i class="fas fa-pencil-alt">
                                    </i>Edit
                                </a> |
                                <a asp-action="Details" asp-route-id="@project.Id">
                                    <i class="fas fa-folder">
                                    </i>Details
                                </a> |
                                <a asp-action="Delete" asp-route-id="@project.Id">
                                    <i class="fas fa-trash">
                                    </i>Delete
                                </a> |
                                <a asp-action="AddMembers" asp-route-id="@project.Id">
                                    <i class="fas fa-user">
                                    </i>Assign Users
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

@section Scripts{
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#projectTable').DataTable();
        });
    </script>
}