@model JamesonBugTracker.Models.ViewModels.DashboardViewModel
@using JamesonBugTracker.Extensions
@{
    ViewData["Title"] = "Dashboard";
    bool hasProjects = true;
    if (Model.Projects.Count < 1)
    {
        hasProjects = false;
    }
}
@using JamesonBugTracker.Services.Interfaces
@inject IBTTicketService _ticketService
@inject IBTCompanyInfoService _companyInfoService
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1 class="m-0">Welcome @Model.CurrentUser.FullName</h1>

            </div><!-- /.col -->
            <div class="col-6 text-right">
                <h2 class="m-0 text-muted">@((await _companyInfoService.GetCompanyInfoByIdAsync(User.Identity.GetCompanyId().Value)).Name)</h2>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Development Tickets</span>
                        <span class="info-box-number">
                            @Model.UnresolvedDevelopmentTickets.Count Open | <span class="text-muted">@Model.DevelopmentTickets.Count Assigned</span>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-ticket-alt"></i></span>

                    <div class="info-box-content">
                        @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                        {

                            <span class="info-box-text">Unassigned Tickets</span>
                            <span class="info-box-number"><a asp-controller="Tickets" asp-action="UnassignedTickets">@Model.UnassignedTickets.Count</a></span>
                        }
                        else
                        {
                            <span class="info-box-text">Total Tickets</span>
                            <span class="info-box-number"><a asp-controller="Tickets" asp-action="UnassignedTickets">@(@Model.DevelopmentTickets.Count+@Model.SubmittedTickets.Count;)</a></span>
                        }
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Team Members</span>
                        <span class="info-box-number">@Model.Members.Count</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-briefcase"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Projects</span>
                        @if (hasProjects)
                        {

                            <span class="info-box-number">@Model.Projects.Count</span>
                        }
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                @if (hasProjects)
                {

                    <div class="card card-primary card-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="project-tabs" role="tablist">
                                <li class="pt-2 px-3"><h3 class="card-title">Projects</h3></li>
                                @{ var i = 0;}
                                @foreach (var project in Model.Projects.OrderByDescending(p =>p.Tickets.Count))
                                {
                                    @if (i == 0)
                                    {


                                        <li class="nav-item">
                                            <a class="nav-link active" id="custom-tabs-two-@project.Id-tab" data-toggle="pill" href="#custom-tabs-two-@project.Id" role="tab" aria-controls="custom-tabs-two-@project." aria-selected="true">@project.Name</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-two-@project.Id-tab" data-toggle="pill" href="#custom-tabs-two-@project.Id" role="tab" aria-controls="custom-tabs-two-@project.Id" aria-selected="false">@project.Name</a>
                                        </li>
                                    }
                                    i++;
                                }
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-two-tabContent">
                                @{ i = 0;}
                                @foreach (var project in Model.Projects)
                                {
                                    if (i == 0)
                                    {
                                        <div class="tab-pane fade" id="custom-tabs-two-@project.Id" role="tabpanel" aria-labelledby="custom-tabs-two-@project.Id-tab">
                                            <div class="row" id="@project.Id-chart">

                                                <div class="col-md-8">
                                                    <p class="text-center">
                                                        <strong>@project.Name</strong>
                                                    </p>

                                                    <div class="chart">
                                                        <!-- Sales Chart Canvas -->
                                                        <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                                                    </div>
                                                    <!-- /.chart-responsive -->
                                                    <a class="btn btn-primary" asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">See More Details</a>
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-md-4">
                                                    <p class="text-center">
                                                        <strong>Goal Completion</strong>
                                                    </p>

                                                    <div class="progress-group">
                                                        Add Products to Cart
                                                        <span class="float-right"><b>160</b>/200</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-primary" style="width: 80%"></div>
                                                        </div>
                                                    </div>
                                                    <!-- /.progress-group -->

                                                    <div class="progress-group">
                                                        Complete Purchase
                                                        <span class="float-right"><b>310</b>/400</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-danger" style="width: 75%"></div>
                                                        </div>
                                                    </div>

                                                    <!-- /.progress-group -->
                                                    <div class="progress-group">
                                                        <span class="progress-text">Visit Premium Page</span>
                                                        <span class="float-right"><b>480</b>/800</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-success" style="width: 60%"></div>
                                                        </div>
                                                    </div>

                                                    <!-- /.progress-group -->
                                                    <div class="progress-group">
                                                        Send Inquiries
                                                        <span class="float-right"><b>250</b>/500</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-warning" style="width: 50%"></div>
                                                        </div>
                                                    </div>
                                                    <!-- /.progress-group -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    }
                                    else
                                    {

                                        <div class="tab-pane fade" id="custom-tabs-two-@project.Id" role="tabpanel" aria-labelledby="custom-tabs-two-@project.Id-tab">
                                            <div class="row" id="@project.Id-chart">
                                                <div class="col-md-8">
                                                    <p class="text-center">
                                                        <strong>@project.Name</strong>
                                                    </p>
                                                    <div class="chart">
                                                        <!-- Sales Chart Canvas -->
                                                        <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                                                    </div>
                                                    <!-- /.chart-responsive -->
                                                    <a class="btn btn-primary" asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">See More Details</a>
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-md-4">
                                                    <p class="text-center">
                                                        <strong>Goal Completion</strong>
                                                    </p>
                                                    <div class="progress-group">
                                                        Add Products to Cart
                                                        <span class="float-right"><b>160</b>/200</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-primary" style="width: 80%"></div>
                                                        </div>
                                                    </div>
                                                    <!-- /.progress-group -->

                                                    <div class="progress-group">
                                                        Complete Purchase
                                                        <span class="float-right"><b>310</b>/400</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-danger" style="width: 75%"></div>
                                                        </div>
                                                    </div>

                                                    <!-- /.progress-group -->
                                                    <div class="progress-group">
                                                        <span class="progress-text">Visit Premium Page</span>
                                                        <span class="float-right"><b>480</b>/800</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-success" style="width: 60%"></div>
                                                        </div>
                                                    </div>

                                                    <!-- /.progress-group -->
                                                    <div class="progress-group">
                                                        Send Inquiries
                                                        <span class="float-right"><b>250</b>/500</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-warning" style="width: 50%"></div>
                                                        </div>
                                                    </div>
                                                    <!-- /.progress-group -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                }
                <!-- /.col -->
            <!-- /.row -->
                <!-- TABLE: Development Tickets -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Development Tickets</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">

                        <div class="row">
                            <div class="col-8">
                                <div class="card">
                                    <div class="card-header">
                                        <small class="text-muted"><i class="fas fa-list"></i> Tickets assigned to you</small>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="table-responsive">
                                            <table id="developmentTable" class="table dataTable table-striped">
                                                <thead>
                                                    <tr>

                                                        <th>Name</th>
                                                        <th>Created</th>
                                                        <th>Developer</th>
                                                        <th>Submitter</th>
                                                        <th>Type</th>
                                                        <th>Status</th>
                                                        <th>Priority</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var ticket in Model.UnresolvedDevelopmentTickets)
                                                    {
                                                        <tr>
                                                            <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id">@ticket.Title</a></td>
                                                            <td>@string.Format("{0:MMM dd yyyy}", ticket.Created)</td>
                                                            <td>@ticket.DeveloperUser?.FullName</td>
                                                            <td>@ticket.OwnerUser?.FullName</td>
                                                            <td>@ticket.TicketType.Name</td>
                                                            <td>@ticket.TicketStatus.Name</td>
                                                            <td><span class="badge priorityBadge">@ticket.TicketPriority.Name</span></td>
                                                            <td>
                                                                @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                                                                {

                                                                    <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a> <span>|</span>
                                                                }
                                                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">Details</a> |
                                                                <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                            <div class="col-4">
                                <!--Development Charts-->

                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fas fa-chart-pie mr-1"></i>
                                            Development tickets
                                        </h3>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills ml-auto">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#dev-type-chart" data-toggle="tab">Type</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#dev-status-chart" data-toggle="tab">Status</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#dev-priority-chart" data-toggle="tab">Priority</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="tab-content p-0">
                                            <!-- DEV CHARTS -->
                                            <div class="chart tab-pane active" id="dev-type-chart"
                                                 style="position: relative; height: 300px;">
                                                <canvas id="devTypeChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                            </div>
                                            <div class="chart tab-pane" id="dev-status-chart" style="position: relative; height: 300px;">
                                                <canvas id="devStatusChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>

                                            </div>
                                            <div class="chart tab-pane" id="dev-priority-chart" style="position: relative; height: 300px;">
                                                <canvas id="devPriorityChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>

                                            </div>
                                        </div>
                                    </div><!-- /.card-body -->
                                    </div>
                                    <a class="my-2 btn btn-block btn-primary" asp-controller="Tickets" asp-action="MyTickets"> View My Tickets</a>
                                    @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                                    {
                                        <a class="my-2 btn btn-block btn-success"asp-controller="Tickets" asp-action="AllTickets"> View All Tickets</a>
                                    }

                            </div>
                        </div>
                    </div>



                </div>
                <!-- /.card -->
                <!-- CARD: Submitted Tickets -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Submitted Tickets</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="card">
                                    <div class="card-header">
                                        <small class="text-muted"><i class="fas fa-list"></i> Tickets you submitted</small>
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="table-responsive">
                                            <table id="submittedTable" class="table dataTable table-striped">
                                                <thead>
                                                    <tr>

                                                        <th>Name</th>
                                                        <th>Created</th>
                                                        <th>Developer</th>
                                                        <th>Submitter</th>
                                                        <th>Type</th>
                                                        <th>Status</th>
                                                        <th>Priority</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var ticket in Model.SubmittedTickets)
                                                    {
                                                        <tr>
                                                            <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id">@ticket.Title</a></td>
                                                            <td>@string.Format("{0:MMM dd yyyy}", ticket.Created)</td>
                                                            <td>@ticket.DeveloperUser?.FullName</td>
                                                            <td>@ticket.OwnerUser?.FullName</td>
                                                            <td>@ticket.TicketType.Name</td>
                                                            <td>@ticket.TicketStatus.Name</td>
                                                            <td><span class="badge priorityBadge">@ticket.TicketPriority.Name</span></td>
                                                            <td>
                                                                @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                                                                {

                                                                    <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a> <span>|</span>
                                                                }
                                                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">Details</a> |
                                                                <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->

                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <!--Submitted Charts-->
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fas fa-chart-pie mr-1"></i>
                                            Submitted tickets
                                        </h3>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills ml-auto">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#sub-status-chart" data-toggle="tab">Status</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#sub-type-chart" data-toggle="tab">Type</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#sub-priority-chart" data-toggle="tab">Priority</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="tab-content p-0">

                                            <div class="chart tab-pane active" id="sub-status-chart"
                                                 style="position: relative; height: 300px;">
                                                <canvas id="subStatusChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                            </div>
                                            <div class="chart tab-pane" id="sub-type-chart" style="position: relative; height: 300px;">
                                                <canvas id="subTypeChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>

                                            </div>
                                            <div class="chart tab-pane" id="sub-priority-chart" style="position: relative; height: 300px;">
                                                <canvas id="subPriorityChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>

                                            </div>
                                        </div>
                                    </div><!-- /.card-body -->
                                </div>
                                    <a class="my-2 btn btn-block btn-primary" asp-controller="Tickets" asp-action="MyTickets"> View My Tickets</a>
                                    @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                                    {
                                        <a class="my-2 btn btn-block btn-success" asp-controller="Tickets" asp-action="AllTickets"> View All Tickets</a>
                                    }

                            </div>
                        </div>
                    </div>
                </div>
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <div class="col-md-4">

                    <div class="row">

                        <div class="col">
                            <!-- USERS LIST -->
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Company Members</h3>

                                    <div class="card-tools">
                                        <span class="badge badge-secondary">@Model.Members.Count</span>
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <ul class="users-list clearfix">
                                        @foreach (var member in Model.Members)
                                        {
                                            <li>
                                                <img src="~/img/Sethimg.jpg" class="member-img" alt="User Image">
                                                <a class="users-list-name" href="#">@member.FullName</a>
                                                <span class="users-list-date">@((await _ticketService.GetAllTicketsByRoleAsync("Submitter", member.Id)).Count) Submitted</span>
                                                <span class="users-list-date">@((await _ticketService.GetAllDeveloperTicketsByResolvedAsync(member.Id, false)).Count) Open Tickets</span>
                                            </li>
                                        }
                                    </ul>
                                    <!-- /.users-list -->
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer text-center">
                                    <a href="javascript:">View All Users</a>
                                </div>
                                <!-- /.card-footer -->
                            </div>
                            <!--/.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->


                </div>
                <!-- /.col -->
                <div class="col-md-8">

                    @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                    {
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Unassigned Tickets</h5>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col">
                                        <div class="card card-warning">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table id="unassignedTable" class="table dataTable table-striped">
                                                        <thead>
                                                            <tr>

                                                                <th style="width:25%;">Name</th>
                                                                <th style="width:10%;">Created</th>
                                                                <th style="width:5%;">Submitter</th>
                                                                <th style="width:25%;">Description</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var unassignedTicket in Model.UnassignedTickets)
                                                            {
                                                                <tr id="row-@unassignedTicket.Id">
                                                                    <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@unassignedTicket.Id">@unassignedTicket.Title</a></td>
                                                                    <td>@string.Format("{0:MMM dd yyyy}", unassignedTicket.Created)</td>

                                                                    <td>@unassignedTicket.OwnerUser?.FullName</td>
                                                                    <td>@unassignedTicket.Description</td>
                                                                    <td>
                                                                        <form asp-controller="Tickets" asp-action="AssignUser" asp-route-db="true" class="assignForm">
                                                                            <input hidden name="ticketId" value="@unassignedTicket.Id" class="unassignedId"/>
                                                                            <div class="form-group">
                                                                                <label for=""></label>
                                                                                <select required class="form-control" name="userId" id="userSelect-@unassignedTicket.Id" asp-items="null">
                                                                                    <option value="" hidden>Choose a User</option>

                                                                                </select>
                                                                            </div>
                                                                            <button type="submit" class="btn btn-warning btn-block">Assign User</button>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.table-responsive -->


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.col -->
            </div>
            </div>
            <!-- /.row -->
        </div>
    </div><!--/. container-fluid -->
</section>
<!-- /.content -->

<div class="text-center">
    <p></p>
</div>



@section Scripts{
    <script src="~/js/PriorityBadge.js"></script>
    <script>
        $(document).ready(function () {
            $('#developmentTable').DataTable();
            $('#submittedTable').DataTable();
        });</script>
    <script src="~/js/PriorityBadge.js"></script>
    <script src="~/plugins/chart.js/Chart.bundle.js"></script>
    <script>
        let devTypes = [0,0,0,0]
        let devStatuses = [0,0,0,0,0,0]
        let devPriority = [0, 0, 0, 0]
        @foreach (var ticket in Model.UnresolvedDevelopmentTickets)
        {
            @:devTypes[0+@(ticket.TicketTypeId-1)] += 1
            @:devStatuses[0+@(ticket.TicketStatusId-1)]++
            @:devPriority[0+@(ticket.TicketPriorityId-1)]++
        }
        let subTypes = [0, 0, 0, 0]
        let subStatuses = [0,0,0,0,0,0]
        let subPriority = [0, 0, 0, 0]
        @foreach (var ticket in Model.SubmittedTickets)
        {
            @:subTypes[0+@(ticket.TicketTypeId-1)] += 1
            @:subStatuses[0+@(ticket.TicketStatusId-1)]++
            @:subPriority[0+@(ticket.TicketPriorityId-1)]++
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#ticketTable').DataTable();
            @if (hasProjects)
            {

            @:$('#custom-tabs-two-@Model.Projects.First().Id').tab('show')
            }
        });
    </script>
    <script src="~/js/chartBasics.js"></script>
    
    <script src="~/js/Dashboard.js"></script>
}