@using Microsoft.AspNetCore.Identity
@using JamesonBugTracker.Services.Interfaces
@using JamesonBugTracker.Extensions
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@inject IBTFileService _fileService
@inject IBTNotificationService _notificationService
@inject IBTTicketService _ticketService
@inject IBTCompanyInfoService _companyService
@{
    var userId = UserManager.GetUserId(User);
    var companyId = User.Identity.GetCompanyId().Value;
    var company = await _companyService.GetCompanyInfoByIdAsync(companyId);
    var unseenCount = (await _notificationService.GetUnseenRecievedNotificationsAsync(userId)).ToList().Count;
    int take;
    if (unseenCount > 5)
    {
        take = unseenCount;
    }
    else
    {
        take = 5;
    }
    var notifications = (await _notificationService.GetReceivedNotificationsAsync(userId)).OrderByDescending(n => n.Created).Take(take).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JamesonBugTracker</title>
    <link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Header", required: false)
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="layoutBody" class="hold-transition sidebar-mini dark-mode accent-lightblue">
    <partial name="_LogoutPartial" />
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img src="~/img/Jamesonani.gif" alt="JamesonLogo" height="300" width="438">
        </div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" id="notificationButton">
                        <i class="far fa-bell"></i>
                        @if (unseenCount > 0)
                        {

                            <span class="badge badge-danger navbar-badge" id="unseenBadge">@unseenCount</span>
                        }
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        @foreach (var notification in notifications)
                        {

                            @if (notification.Viewed)
                            {
                                <div class="dropdown-item" id="not-@notification.Id">
                                    <!-- Message Start -->
                                    <div class="media">
                                        <img src="@_fileService.ConvertByteArrayToFile(notification.Sender.AvatarFileData,notification.Sender.AvatarFileContentType) " alt="User Avatar" class="img-size-50 mr-3 img-circle ">
                                        <div class="media-body">
                                            <h3 class="dropdown-item-title">
                                                @notification.Sender.FullName
                                            </h3>
                                            <span class="float-right text-sm text-danger-"><i class="far fa-star"></i></span>
                                            <p class="text-sm">@notification.Message</p>
                                            <a class="btn btn-sm btn-primary" asp-action="Details" asp-controller="Tickets" asp-route-id="@notification.TicketId">See Ticket</a>
                                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> @notification.Created</p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="dropdown-item" id="not-@notification.Id">
                                    <!-- Message Start -->
                                    <div class="media">
                                        <img src="@_fileService.ConvertByteArrayToFile(notification.Sender.AvatarFileData,notification.Sender.AvatarFileContentType) " alt="User Avatar" class="img-size-50 mr-3 img-circle ">
                                        <div class="media-body">
                                            <h3 class="dropdown-item-title">
                                                @notification.Sender.FullName
                                            </h3>
                                            <span class="float-right text-sm text-danger-"><button type="submit" class="btn btn-link"><i id="seenIcon-@notification.Id" class="fas fa-star"></i></button></span>
                                            <p class="text-sm">@notification.Message</p>
                                            <a class="btn btn-sm btn-primary" asp-action="Details" asp-controller="Tickets" asp-route-id="@notification.TicketId">See Ticket</a>
                                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> @notification.Created</p>
                                        </div>
                                    </div>

                                </div>
                            }
                            <!-- Message End -->
                            <div class="dropdown-divider"></div>
                        }
                        <a asp-controller="Notifications" asp-action="Index" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <!--Dark Mode toggler-->
                <li class="nav-item">
                    <button onclick="toggleDark()" class="btn btn-sm btn-primary">
                        <i id="darkIcon" class="fas fa-sun"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="Dashboard" class="brand-link">
                <img src="~/img/JamesonXSSquare.png" alt="Jameson Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Jameson Bug Tracker</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                @if (SignInManager.IsSignedIn(User))
                {
                    BTUser btUser = await UserManager.GetUserAsync(User); //Principal = person using application

                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="@_fileService.ConvertByteArrayToFile(btUser.AvatarFileData, btUser.AvatarFileContentType)" class="img-circle elevation-2" alt="User Image" style="height:2.1rem">
                        </div>
                        <div class="info">
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-block">@btUser.FullName</a>
                        </div>
                        <div class="info ml-2">
                            <a href="javascript:document.getElementById('logoutForm').submit();"><i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a class="d-block" asp-area="Identity" asp-page="/Account/Login">Log In</a>
                        </div>
                    </div>
                }
                <!--Company Panel-->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@_fileService.ConvertByteArrayToFile(company.ImageFileData, company.ImageFileContentType)" class="img-circle elevation-2" alt="User Image" style="height:2.1rem">
                    </div>
                    <div class="info">
                        <a asp-controller="Companies" asp-action="Details" asp-route-id="@companyId" class="d-block">@company.Name<span class="ml-3 text-right"><i class="far fa-building"></i></span></a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-ticket-alt"></i>
                                <p>
                                    Tickets
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Tickets" asp-action="AllTickets" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>All Tickets</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Tickets" asp-action="MyTickets" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>My Tickets</p>
                                    </a>
                                </li>
                                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                {
                                    <li class="nav-item">
                                        <a asp-controller="Tickets" asp-action="UnassignedTickets" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Unassigned Tickets</p>
                                            @{

                                                var unassignedCount = (await _ticketService.GetAllUnassignedTicketsAsync(companyId)).Count;
                                            }
                                            @if (unassignedCount > 0)
                                            {
                                                <span class="badge badge-danger navbar-badge">@unassignedCount</span>
                                            }
                                        </a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a asp-controller="Tickets" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Create a New Ticket</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-flask"></i>
                                <p>
                                    Projects
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Projects" asp-action="AllProjects" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>All Projects</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Projects" asp-action="MyProjects" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>My Projects</p>
                                    </a>
                                </li>

                            </ul>

                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                        {
                            <li class="nav-item menu-open">
                                <a asp-controller="Invites" asp-action="Create" class="nav-link">
                                    <i class="nav-icon far fa-envelope"></i>
                                    <p>
                                        New Invite
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item menu-open">
                                <a asp-controller="UserRoles" asp-action="ManageUserRoles" class="nav-link">
                                    <i class="nav-icon far fa-user"></i>
                                    <p>
                                        Manage User Roles
                                    </p>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container-fluid p-3">
                @RenderBody()
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <!--<aside class="control-sidebar control-sidebar-dark">-->
        <!-- Control sidebar content goes here -->
        <!--<div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>-->
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                <strong>Template Copyright &copy; 2014-2021 <a href="https://adminlte.io" target="_blank">AdminLTE.io</a>.</strong>
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2021 <a href="https://sethbcoding.com" target="_blank">Seth A. Burleson</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- AdminLTE App -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script>
        let page = ""
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(window).on("load", loadDark());
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        /*        AJAX for seen button*/
        $("#notificationButton").click(function (e) {

            var dataString = $(this).serialize();

            $.ajax({
                type: "POST",
                url: "/Notifications/MarkSeen",
                data: dataString,
                success: function () {
                    $("#unseenBadge").hide(500)
                }
            });

        });
    </script>
</body>
</html>
