@model JamesonBugTracker.Models.Ticket

@{
    ViewData["Title"] = $"{Model.Title} - Details";
}
@using Microsoft.AspNetCore.Identity;
@using JamesonBugTracker.Services.Interfaces;
@inject UserManager<BTUser> _userManager
@inject IBTProjectService _projectService
@inject IBTFileService _fileService
@section Header{
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
}
<!-- Default box -->
<div class="card mt-3 shadow-sm">
    <div class="card-header">
        <h3 class="card-title">@Model.Title</h3>
        <div class="nav-links text-right">
            @if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
            {

                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span>|</span>
            }
            <a asp-action="MyTickets">My Tickets</a> |
            <a asp-action="AllTickets">All Tickets</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                <div class="row">
                    <div class="col-12 col-sm-3">
                        <div class="small-box bg-gradient-red">
                            <div class="inner">
                                <h3>Owner:</h3>
                                <p>@Model.OwnerUser?.FullName</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <div class="small-box bg-gradient-blue">
                            <div class="inner">

                                <h3>Created</h3>
                                <p>@string.Format("{0:MMM dd yyyy}", Model.Created)</p>

                            </div>
                            <div class="icon">
                                <i class="fas fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                    @* Conditional formatting based on status *@
                    <div class="col-12 col-sm-3">
                        <div class="small-box" id="ticketStatusBox">
                            <div class="inner">

                                <h3>Status:</h3>
                                <p id="ticketStatusText">@Model.TicketStatus.Name</p>


                            </div>
                            <div class="icon">
                                <i class="far fa-check-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>Assigned to:</h3>
                                @if (Model.DeveloperUserId is not null)
                                {
                                    <p id="developerName">@Model.DeveloperUser?.FullName</p>

                                }
                                else
                                {
                                    <p id="developerName">Unassigned</p>

                                }
                            </div>
                            <div class="icon">
                                <i class="far fa-address-card"></i>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.TicketStatus.Name == "Development")
                {
                    <form asp-action="UpdateStatus">
                        <input hidden name="ticketId" value="@Model.Id" />
                        <input hidden name="statusName" value="Testing" />
                        <button class="btn btn-block btn-warning" type="submit">Update to Testing</button>
                    </form>
                }
                else if (Model.TicketStatus.Name == "Testing")
                {
                    <form asp-action="UpdateStatus">
                        <input hidden name="ticketId" value="@Model.Id" />
                        <input hidden name="statusName" value="Development" />
                        <button class="btn btn-block btn-danger" type="submit">Testing Failed: Return to Development</button>
                    </form>
                    <hr />
                    <form asp-action="UpdateStatus">
                        <input hidden name="ticketId" value="@Model.Id" />
                        <input hidden name="statusName" value="Resolved" />
                        <button class="btn btn-block btn-success" type="submit">Close Ticket</button>
                    </form>
                }
                else if (Model.TicketStatus.Name == "Resolved" && (User.IsInRole("ProjectManager") || User.IsInRole("Admin")))
                {
                    <form asp-action="UpdateStatus">
                        <input hidden name="ticketId" value="@Model.Id" />
                        <input hidden name="statusName" value="Development" />
                        <button class="btn btn-block btn-success" type="submit">Reopen Ticket to Development status</button>
                    </form>
                }
                <hr />
                <div class="row">
                    <div class="col-12">

                        <h5>
                            Add a Comment
                        </h5>
                        <form asp-action="Create" asp-controller="TicketComments" method="POST">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="TicketId" id="TicketId" value="@Model.Id">
                                <textarea id="summernote" name="Comment" required placeholder="Type your comment here">
              </textarea>
                                <button type="submit" class="btn btn-primary btn-block">Post Comment</button>
                            </div>
                        </form>
                        <hr />
                        <div class="card card-primary">
                            <div class="card-header p-0 border-bottom-0">
                                <ul class="nav nav-tabs" id="custom-tabs-tab" role="tablist">
                                    <li class="nav-item">
                                        @if (Model.Comments.Count > 0)
                                        {
                                        <a class="nav-link active" id="custom-tabs-comments-tab" data-toggle="pill" href="#custom-tabs-comments" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Comments <i class="far fa-comments"></i> <span class="badge badge-primary" >@Model.Comments.Count</span></a>
            }
            else
            {
                                    <a class="nav-link disabled text-muted" id="custom-tabs-comments-tab" data-toggle="pill" href="#custom-tabs-comments" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">
                                        Comments <i class="far fa-comments"></i> <span class="badge badge-secondary">@Model.Comments.Count</span>
                                    </a>
            }
                                        
                                    </li>
                                    <li class="nav-item">
                                        @if (Model.Comments.Count > 0)
                                        {


<a class="nav-link" id="custom-tabs-history-tab" data-toggle="pill" href="#custom-tabs-history" role="tab" aria-controls="custom-tabs-history" aria-selected="false">History <i class="fas fa-history"></i><span class="badge badge-primary">@Model.History.Count</span></a>
            }
            else
            {
                                    <a class="nav-link active" id="custom-tabs-history-tab" data-toggle="pill" href="#custom-tabs-history" role="tab" aria-controls="custom-tabs-history" aria-selected="false">History <i class="fas fa-history"></i><span class="badge badge-primary">@Model.History.Count</span></a>
            }
                                        </li>

                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-tabContent">
                                    <div class="tab-pane fade" id="custom-tabs-comments" role="tabpanel" aria-labelledby="custom-tabs-comments-tab">
                                        @*<h4>Ticket Comments</h4>*@
                                        @*<hr />*@
                                        @foreach (var comment in Model.Comments)
                                        {
                                            <div class="post">
                                                <div class="user-block">
                                                    <img class="img-circle img-bordered-sm" src="@_fileService.GetUserAvatar(comment.User)" alt="user image">
                                                    <span class="username">
                                                        <a href="#">@comment.User.FullName</a> |
                                                        @if (Model.DeveloperUserId == comment.UserId)
                                                        {
                                                            <span class="text-success">Assigned developer</span> <span>|</span>
                                                        }
                                                        @if ((await _projectService.GetProjectManagerAsync(Model.ProjectId))?.Id == comment.UserId)
                                                        {
                                                            <span class="text-primary">Project Manager</span> <span>|</span>
                                                        }
                                                        @if (Model.OwnerUserId == comment.UserId)
                                                        {
                                                            <span class="text-danger">Submitter</span> <span>|</span>
                                                        }
                                                    </span>
                                                    <span class="description">@string.Format("{0:MMM dd yyyy, hh:mm tt}", comment.Created)</span>
                                                </div>
                                                <!-- /.user-block -->
                                                <p>
                                                    @Html.Raw(comment.Comment)
                                                </p>
                                            </div>


                                        }
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-history" role="tabpanel" aria-labelledby="custom-tabs-history-tab">
                                        @*<h3>Ticket History</h3>*@
                                        <!-- The time line -->
                                        @if (Model.History.Count > 0)
                                        {

                                            <div class="timeline">
                                                @{
                                                    DateTime? today = Model.History?.OrderByDescending(h => h.Created).FirstOrDefault().Created.Date;
                                                    var labelNum = 0;
                                                    List<string> colorList = new();
                                                    colorList.Add("bg-danger");
                                                    colorList.Add("bg-success");
                                                    colorList.Add("bg-primary");
                                                    colorList.Add("bg-orange");
                                                    colorList.Add("bg-olive");
                                                    colorList.Add("bg-warning");
                                                }
                                                @foreach (var historyItem in Model.History.OrderByDescending(h => h.Created))
                                                {
                                                    //this creates a new time label for each day where there were history items
                                                    if (today != historyItem.Created.Date || historyItem.Id == Model.History.OrderByDescending(h => h.Created).FirstOrDefault().Id)
                                                    {
                                                        today = historyItem.Created.Date;
                                                        var timeclass = colorList[labelNum % 6];
                                                        <div class="time-label">
                                                            <span class="@timeclass">@string.Format("{0:MMM dd yyyy}", historyItem.Created.Date)</span>
                                                        </div>
                                                        labelNum++;
                                                    }
                                                    <!-- timeline time label -->
                                                    <!-- /.timeline-label -->
                                                    <!-- timeline item -->
                                                    <div>
                                                        @if (historyItem.Property == "Title")
                                                        {
                                                            <i class="fas fa-ticket-alt bg-lightblue"></i>
                                                        }
                                                        else if (historyItem.Property == "Description")
                                                        {
                                                            <i class="far fa-file-alt bg-info"></i>
                                                        }
                                                        else if (historyItem.Property == "Developer User")
                                                        {
                                                            <i class="fas fa-user bg-warning"></i>
                                                        }
                                                        else if (historyItem.Property == "Ticket Type")
                                                        {
                                                            <i class="fas fa-align-justify bg-teal"></i>
                                                        }
                                                        else if (historyItem.Property == "Ticket Status")
                                                        {
                                                            <i class="fas fa-tasks bg-olive"></i>
                                                        }
                                                        else if (historyItem.Property == "Ticket Priority")
                                                        {
                                                            <i class="fas fa-exclamation-triangle bg-purple"></i>
                                                        }
                                                        else if (historyItem.Property == "")
                                                        {
                                                            <i class="far fa-file bg-success"></i>
                                                        }
                                                        @if (historyItem.Property == "Attachment")
                                                        {
                                                            <i class="far fa-file bg-maroon"></i>
                                                            var attachment = Model.Attachments.Where(a => a.Id == historyItem.AttachmentId).FirstOrDefault();
                                                            <div class="timeline-item">
                                                                <span class="time"><i class="fas fa-clock"></i> @string.Format("{0:hh:mm tt}", historyItem.Created)</span>
                                                                <h3 class="timeline-header">
                                                                    @historyItem.User.FullName <span>|</span>
                                                                    @if (Model.DeveloperUserId == historyItem.UserId)
                                                                    {
                                                                        <span class="text-success">Assigned developer</span> <span>|</span>
                                                                    }
                                                                    @if ((await _projectService.GetProjectManagerAsync(Model.ProjectId))?.Id == historyItem.UserId)
                                                                    {
                                                                        <span class="text-primary">Project Manager</span> <span>|</span>
                                                                    }
                                                                    @if (Model.OwnerUserId == historyItem.UserId)
                                                                    {
                                                                        <span class="text-danger">Submitter</span> <span>|</span>
                                                                    }
                                                                </h3>
                                                                <div class="timeline-body row clearfix">
                                                                    <div class="col">
                                                                        <div class="card p-3">
                                                                            <div class="file">
                                                                                <div class="row">
                                                                                    <div class="col-10">

                                                                                        <a href="javascript:void(0);">
                                                                                            <div class="row">
                                                                                                <div class="col-3">

                                                                                                    <div class="icon">
                                                                                                        <img src="@_fileService.GetFileIcon(attachment.FileName)" style="height:60px;width:60px" />
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-5">
                                                                                                    <div class="file-name">
                                                                                                        <p class="mt-3 text-muted">@System.IO.Path.GetFileNameWithoutExtension(attachment.FileName)</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col">
                                                                                                    <div class="row">
                                                                                                        <div class="col">

                                                                                                            <small>Size: @_fileService.FormatFileSize(attachment.FileData.Length)</small>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col">

                                                                                                            <small><span class="date text-muted">@attachment.Created.ToString("MMM dd, yyyy")</span></small>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="col-2">
                                                                                        <div class="">
                                                                                            <a target="_blank" asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@attachment.Id" class="btn btn-icon btn-primary">
                                                                                                <i class="fa fa-download"></i>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        }
                                                        else if (historyItem.Property == "Comment")
                                                        {
                                                            <i class="far fa-comment bg-indigo"></i>

                                                            var comment = Model.Comments.Where(c => c.Id == historyItem.CommentId).FirstOrDefault();
                                                            <div class="timeline-item">
                                                                <span class="time"><i class="fas fa-clock"></i> @string.Format("{0:hh:mm tt}", historyItem.Created)</span>
                                                                <div class="timeline-body">

                                                                    @*<div class="card">
                                                                <div class="card-body">*@

                                                                    @*<div class="post">*@
                                                                    <div class="row">
                                                                        <div class="col">

                                                                            <div class="user-block">
                                                                                <img class="img-circle img-bordered-sm" src="@_fileService.GetUserAvatar(comment.User)" alt="user image">
                                                                                <span class="username">
                                                                                    <a href="#">@comment.User.FullName</a> |
                                                                                    @if (Model.DeveloperUserId == comment.UserId)
                                                                                    {
                                                                                        <span class="text-success">Assigned developer</span> <span>|</span>
                                                                                    }
                                                                                    @if ((await _projectService.GetProjectManagerAsync(Model.ProjectId))?.Id == comment.UserId)
                                                                                    {
                                                                                        <span class="text-primary">Project Manager</span> <span>|</span>
                                                                                    }
                                                                                    @if (Model.OwnerUserId == comment.UserId)
                                                                                    {
                                                                                        <span class="text-danger">Submitter</span> <span>|</span>
                                                                                    }
                                                                                </span>
                                                                                <span class="description">@string.Format("{0:MMM dd yyyy}", comment.Created)</span>
                                                                            </div>
                                                                            <!-- /.user-block -->
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-1">
                                                                        <div class="col ml-4">

                                                                            <p>
                                                                                @Html.Raw(comment.Comment)
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*</div>*@
                                                            @*</div>
                                                        </div>*@
                                                        }
                                                        else
                                                        {

                                                            <div class="timeline-item">
                                                                <span class="time"><i class="fas fa-clock"></i> @string.Format("{0:hh:mm tt}", historyItem.Created)</span>
                                                                <h3 class="timeline-header">
                                                                    @historyItem.User.FullName <span>|</span>
                                                                    @if (Model.DeveloperUserId == historyItem.UserId)
                                                                    {
                                                                        <span class="text-success">Assigned developer</span> <span>|</span>
                                                                    }
                                                                    @if ((await _projectService.GetProjectManagerAsync(Model.ProjectId))?.Id == historyItem.UserId)
                                                                    {
                                                                        <span class="text-primary">Project Manager</span> <span>|</span>
                                                                    }
                                                                    @if (Model.OwnerUserId == historyItem.UserId)
                                                                    {
                                                                        <span class="text-danger">Submitter</span> <span>|</span>
                                                                    }
                                                                </h3>

                                                                <div class="timeline-body">
                                                                    @Html.Raw(historyItem.Description)
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                                <div>
                                                    <i class="fas fa-clock bg-gray"></i>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>

                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                <div class="small-box" id="ticketTypeBox">
                    <div class="inner">

                        <h3>Type:</h3>
                        <p id="ticketTypeText">@Model.TicketType.Name</p>
                    </div>
                    <div class="icon">
                        <i class="far fa-sticky-note"></i>
                    </div>
                </div>
                @* Javascript needed, check contents of one of the spans, then toggle class of this element based on that*@
                <div class="small-box" id="ticketPriorityBox">
                    <div class="inner">

                        <h3>Priority:</h3>
                        <p id="ticketPriorityText">@Model.TicketPriority.Name</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-exclamation"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">

                        @* TODO: icon based on ticket type? *@
                        <h3 class="text-primary"><i class="fas fa-bug"></i>@Model.Title</h3>
                        <p class="text-muted">@Model.Description</p>
                    </div>
                    <div class="card-body">

                        <div class="text-muted">
                            <p class="text-sm">
                                Company
                                <b class="d-block">@Model.Project.Company.Name</b>
                            </p>
                            <p class="text-sm">
                                Project

                                <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ProjectId"><b class="d-block">@Model.Project.Name</b></a>
                            </p>
                            <p class="text-sm">
                                Project Description
                                <b class="d-block">@Model.Project.Description</b>
                            </p>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                @if (Model.DeveloperUserId is not null && (User.IsInRole("ProjectManager") || User.IsInRole("Admin")))
                {
                    <form asp-action="AssignUser" class="assignForm">
                        <input hidden name="ticketId" value="@Model.Id" />
                        <div class="form-group pt-0">
                            <label for=""></label>
                            <select required class="form-control" asp-for="DeveloperUserId" name="userId" id="" asp-items="ViewBag.AssignUsers">
                                <option value="" hidden>Choose a new User</option>

                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Reassign User</button>
                    </form>
                    <form asp-action="UnassignUser">
                        <input hidden name="ticketId" value="@Model.Id" />
                        <button type="submit" class="btn btn-danger btn-block" disabled>Unassign User</button>

                    </form>

                }
                else if (User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                {

                    <form asp-action="AssignUser" class="assignForm">
                        <input hidden name="ticketId" value="@Model.Id" />
                        <div class="form-group">
                            <label for=""></label>
                            <select required class="form-control" asp-for="DeveloperUserId" name="userId" id="" asp-items="ViewBag.AssignUsers">
                                <option value="" hidden>Choose a User</option>

                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Assign User</button>
                    </form>
                }
                <h5 class="mt-5 text-muted">Ticket Attachments</h5>
                @foreach (TicketAttachment item in Model.Attachments)
                {
                    <div class="row clearfix">
                        <div class="col">
                            <div class="card p-3">
                                <div class="file">
                                    <div class="row">
                                        <div class="col-10">

                                            <a href="javascript:void(0);">
                                                <div class="row">
                                                    <div class="col-3">

                                                        <div class="icon">
                                                            <img src="@_fileService.GetFileIcon(item.FileName)" style="height:60px;width:60px" />
                                                        </div>
                                                    </div>
                                                    <div class="col-5">
                                                        <div class="file-name">
                                                            <p class="mt-3 text-muted">@System.IO.Path.GetFileNameWithoutExtension(item.FileName)</p>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">

                                                                <small>Size: @_fileService.FormatFileSize(item.FileData.Length)</small>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">

                                                                <small><span class="date text-muted">@item.Created.ToString("MMM dd, yyyy")</span></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <div class="">
                                                <a target="_blank" asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id" class="btn btn-icon btn-primary">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="text-center mt-5 mb-3">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-attachment">
                        Add attachment
                    </button>
                    <div class="modal fade" id="modal-attachment">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Default Modal</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="@Model.Id" name="TicketId">


                                            <div class="media-body ml-3">
                                                <label class="form-label d-block mb-2">Add Attachment</label>
                                                <label>
                                                    Description
                                                    <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
                                                </label><br />
                                                <label class="btn btn-outline-primary btn-sm">
                                                    <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" />
                                                </label>
                                                <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>
            </div>
        </div>
    </div>
<!-- /.card-body -->
</div>
<!-- /.card -->



@section Scripts{
    <script src="../../plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/js/ticketDetails.js"></script>
    <script>
    //TODO this doesn't work right at all......
    function ajaxReload() {
        $("#ticketStatusText").text = "New Data";
    }
     @if (Model.Comments.Count > 0)
            {
                @:$('#custom-tabs-comments').tab('show')
            }
            else
                {
                    @:$('#custom-tabs-history').tab('show')
        @:$('#custom-tabs-comments-tab').classlist.toggleClass('disabled')
     }
    </script>
    <script>
        $(function () {
            // Summernote
            $('#summernote').summernote()
            $('.summernoteEditComment').summernote()
        })
        $(window).on("load", ticketPriBgColor());
        $(window).on("load", ticketStatusBgColor());
        $(window).on("load", ticketTypeBgColor());
    </script>
}
