@model JamesonBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Details";
}
@section Header{
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
}
<!-- Default box -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@Model.Title</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="info-box">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">Created by:</span>
                                <span class="info-box-number text-center text-muted mb-0">@Model.OwnerUser?.FullName</span>
                                <span class="info-box-text text-center text-muted">On:</span>
                                <span class="info-box-number text-center text-muted mb-0">@Model.Created</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box">
                            <div class="info-box-content">

                                <span class="info-box-text text-center text-muted">Status:</span>
                                <span class="info-box-number text-center text-muted">@Model.TicketStatus.Name</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">Assigned to:</span>
                                @if (Model.DeveloperUserId is not null)
                                {
                                    <span class="info-box-number text-center text-muted mb-0">@Model.DeveloperUser?.FullName</span>
                                }
                                else
                                {
                                    <span class="info-box-number text-center text-warning mb-0">Unassigned</span>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12">

                        <h5>
                            Add a Comment
                        </h5>
                        <form asp-action="Create" asp-controller="Comments" method="POST">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="TicketId" id="TicketId" value="@Model.Id">
                            <textarea class="form-control" name="Body" id="" aria-describedby="helpId" rows="5" required></textarea>
                            <button type="submit" class="btn btn-primary btn-block btn-dark">Submit</button>
                            @*<span asp-validation-for="PostState" class="text-danger"></span>*@
                        </div>
                        </form>
                        <textarea id="summernote">
                Place <em>some</em> <u>text</u> <strong>here</strong>
              </textarea>

                        <button class="btn btn-primary">Post Comment</button>
                        <h4>Ticket Comments</h4>
                        @foreach (var comment in Model.Comments)
                        {

                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                                    <span class="username">
                                        <a href="#">@comment.User.FullName</a>
                                    </span>
                                    <span class="description">@comment.Created</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    @comment.Comment
                                </p>

                                <p>
                                    <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v2</a>
                                </p>
                            </div>
                        }

                        <div class="post clearfix">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                                <span class="username">
                                    <a href="#">Sarah Ross</a>
                                </span>
                                <span class="description">Sent you a message - 3 days ago</span>
                            </div>
                            <!-- /.user-block -->
                            <p>
                                Lorem ipsum represents a long-held tradition for designers,
                                typographers and the like. Some people hate it and argue for
                                its demise, but others ignore.
                            </p>
                            <p>
                                <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 2</a>
                            </p>
                        </div>

                        <div class="post">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                                <span class="username">
                                    <a href="#">Jonathan Burke Jr.</a>
                                </span>
                                <span class="description">Shared publicly - 5 days ago</span>
                            </div>
                            <!-- /.user-block -->
                            <p>
                                Lorem ipsum represents a long-held tradition for designers,
                                typographers and the like. Some people hate it and argue for
                                its demise, but others ignore.
                            </p>

                            <p>
                                <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v1</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                <div class="info-box">
                    <div class="info-box-content">

                        <span class="info-box-text text-center text-muted">Type:</span>
                        <span class="info-box-number text-center text-muted">@Model.TicketType.Name</span>
                    </div>
                </div>
                <div class="info-box">
                    <div class="info-box-content">

                        <span class="info-box-text text-center text-muted">Priority:</span>
                        <span class="info-box-number text-center text-muted">@Model.TicketPriority.Name</span>
                    </div>
                </div>

                <h3 class="text-primary"><i class="fas fa-bug"></i>@Model.Title</h3>
                <p class="text-muted">@Model.Description</p>
                <br>
                <div class="text-muted">
                    <p class="text-sm">
                        Company
                        <b class="d-block">@Model.Project.Company.Name</b>
                    </p>
                    <p class="text-sm">
                        Project
                        <b class="d-block">@Model.Project.Name</b>
                    </p>
                    <p class="text-sm">
                        Project Description
                        <b class="d-block">@Model.Project.Description</b>
                    </p>
                </div>

                <h5 class="mt-5 text-muted">Ticket Attachments</h5>
                <ul class="list-unstyled">
                    @foreach (var attachment in Model.Attachments)
                    {

                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file"></i> @attachment.FileName</a>
                        </li>
                    }
                </ul>
                <div class="text-center mt-5 mb-3">
                    <a href="#" class="btn btn-sm btn-primary">Add files</a>
                    <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<!-- Timelime example  -->
<div class="row">
    <div class="col-md-12">
        <h3>Ticket History</h3>
        <!-- The time line -->
        <div class="timeline">
            <!-- timeline time label -->
            <div class="time-label">
                <span class="bg-red">10 Feb. 2014</span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                    <div class="timeline-body">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                        quora plaxo ideeli hulu weebly balihoo...
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-primary btn-sm">Read more</a>
                        <a class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-user bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 5 mins ago</span>
                    <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-comments bg-yellow"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 27 mins ago</span>
                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                    <div class="timeline-body">
                        Take me to your leader!
                        Switzerland is small and neutral!
                        We are more like Germany, ambitious and misunderstood!
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-sm">View comment</a>
                    </div>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <div class="time-label">
                <span class="bg-green">3 Jan. 2014</span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
                <i class="fa fa-camera bg-purple"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 2 days ago</span>
                    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                    <div class="timeline-body">
                        <img src="https://placehold.it/150x100" alt="...">
                        <img src="https://placehold.it/150x100" alt="...">
                        <img src="https://placehold.it/150x100" alt="...">
                        <img src="https://placehold.it/150x100" alt="...">
                        <img src="https://placehold.it/150x100" alt="...">
                    </div>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-video bg-maroon"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 5 days ago</span>

                    <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>

                    <div class="timeline-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tMWkeBIohBs" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="timeline-footer">
                        <a href="#" class="btn btn-sm bg-maroon">See comments</a>
                    </div>
                </div>
            </div>
            <!-- END timeline item -->
            <div>
                <i class="fas fa-clock bg-gray"></i>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>
<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArchiveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArchiveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Archived)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketPriority.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketType.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeveloperUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script src="../../plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            // Summernote
            $('#summernote').summernote()
        })
    </script>
}
