@model JamesonBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Identity;
@using JamesonBugTracker.Services.Interfaces;
@inject UserManager<BTUser> _userManager
@inject IBTProjectService _projectService
@section Header{
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
}
<!-- Default box -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@Model.Title</h3>
        <div class="nav-links text-right">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="small-box">
                            <div class="inner">
                                <p>Created by:</p>
                                <p>@Model.OwnerUser?.FullName</p>
                                <h3>On:</h3>
                                <p>@string.Format("{0:MMM dd yyyy}", Model.Created)</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box">
                            <div class="info-box-content">

                                <span class="info-box-text text-center text-muted">Status:</span>
                                <span class="info-box-number text-center text-muted">@Model.TicketStatus.Name</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">Assigned to:</span>
                                @if (Model.DeveloperUserId is not null)
                                {
                                    <span class="info-box-number text-center text-muted mb-0">@Model.DeveloperUser?.FullName</span>
                                }
                                else
                                {
                                    <span class="info-box-number text-center text-warning mb-0">Unassigned</span>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12">

                        <h5>
                            Add a Comment
                        </h5>
                        <form asp-action="Create" asp-controller="TicketComments" method="POST">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="TicketId" id="TicketId" value="@Model.Id">
                                <textarea id="summernote" name="Comment" required placeholder="Type your comment here">
              </textarea>
                                <button type="submit" class="btn btn-primary">Post Comment</button>
                            </div>
                        </form>


                        <h4>Ticket Comments</h4>
                        <hr />
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="card">
                                <div class="card-body">

                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                                    <span class="username">
                                        <a href="#">@comment.User.FullName</a> 
                                        @if (Model.DeveloperUserId == comment.UserId)
                                        {
                                            <span class="text-success">Assigned developer</span>
                                        }@*else if ((await _projectService.GetProjectManagerAsync(Model.ProjectId)).Id == comment.UserId) { 
                                            <span class="text-primary">Project Manager</span>
                                        }*@else if (Model.OwnerUserId == comment.UserId)
                {
                    <span class="text-danger">Submitter</span>
                }
                                    </span>
                                    <span class="description">@string.Format("{0:MMM dd yyyy}", comment.Created)</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    @Html.Raw(comment.Comment)
                                </p>
                                @*Potential comment edit*@
                                @*@if (_userManager.GetUserId(User) == comment.UserId)
                                {


                                    <p>
                                        <button type="button" data-toggle="modal" data-target="#modal-@comment.Id" class="btn btn-warning"><i class="far fa-pencil mr-1"></i> Edit comment</button>
                                    </p>
                                    <div class="modal fade" id="modal-@comment.Id" tabindex="-1" role="dialog"
                                         aria-labelledby="modelTitleId" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit your comment</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form asp-controller="TicketComments" asp-action="Edit">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <div class="form-group">
                                                        <input type="hidden" value="@comment.Id" name="id" />
                                                        <input type="hidden" asp-for="@comment.Id" />
                                                        <input type="hidden" asp-for="@comment.TicketId" />
                                                        <input type="hidden" asp-for="@comment.UserId" />
                                                        <input type="hidden" asp-for="@comment.Created" />


                                                            <label asp-for="@comment.Comment" class="control-label"></label>
                                                            <textarea id="summernote" class="summernoteEditComment" name="Comment" required placeholder="Type your comment here">
              </textarea>
                                                            <span asp-validation-for="@comment.Comment" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="submit" value="Save" class="btn btn-primary" />
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }*@
                            </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                <div class="info-box">
                    <div class="info-box-content">

                        <span class="info-box-text text-center text-muted">Type:</span>
                        <span class="info-box-number text-center text-muted">@Model.TicketType.Name</span>
                    </div>
                </div>
                <div class="info-box">
                    <div class="info-box-content">

                        <span class="info-box-text text-center text-muted">Priority:</span>
                        <span class="info-box-number text-center text-muted">@Model.TicketPriority.Name</span>
                    </div>
                </div>

                <h3 class="text-primary"><i class="fas fa-bug"></i>@Model.Title</h3>
                <p class="text-muted">@Model.Description</p>
                <br>
                <div class="text-muted">
                    <p class="text-sm">
                        Company
                        <b class="d-block">@Model.Project.Company.Name</b>
                    </p>
                    <p class="text-sm">
                        Project
                        <b class="d-block">@Model.Project.Name</b>
                    </p>
                    <p class="text-sm">
                        Project Description
                        <b class="d-block">@Model.Project.Description</b>
                    </p>
                </div>

                <h5 class="mt-5 text-muted">Ticket Attachments</h5>
                <ul class="list-unstyled">
                    @foreach (var attachment in Model.Attachments)
                    {

                        <li>
                            <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file"></i> @attachment.FileName</a>
                        </li>
                    }
                </ul>
                <div class="text-center mt-5 mb-3">
                    <a href="#" class="btn btn-sm btn-primary">Add files</a>
                    <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<!-- Timelime example  -->
<div class="row">
    <div class="col-md-12">
        <h3>Ticket History</h3>
        <!-- The time line -->
        <div class="timeline">
            <!-- timeline time label -->
            <div class="time-label">
                <span class="bg-red">10 Feb. 2014</span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                    <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                    <div class="timeline-body">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                        quora plaxo ideeli hulu weebly balihoo...
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-primary btn-sm">Read more</a>
                        <a class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-user bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 5 mins ago</span>
                    <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-comments bg-yellow"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 27 mins ago</span>
                    <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                    <div class="timeline-body">
                        Take me to your leader!
                        Switzerland is small and neutral!
                        We are more like Germany, ambitious and misunderstood!
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-sm">View comment</a>
                    </div>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <div class="time-label">
                <span class="bg-green">3 Jan. 2014</span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
                <i class="fa fa-camera bg-purple"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 2 days ago</span>
                    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                    <div class="timeline-body">
                        <img src="https://placehold.it/150x100" alt="...">
                        <img src="https://placehold.it/150x100" alt="...">
                        <img src="https://placehold.it/150x100" alt="...">
                        <img src="https://placehold.it/150x100" alt="...">
                        <img src="https://placehold.it/150x100" alt="...">
                    </div>
                </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
                <i class="fas fa-video bg-maroon"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 5 days ago</span>

                    <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>

                    <div class="timeline-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tMWkeBIohBs" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="timeline-footer">
                        <a href="#" class="btn btn-sm bg-maroon">See comments</a>
                    </div>
                </div>
            </div>
            <!-- END timeline item -->
            <div>
                <i class="fas fa-clock bg-gray"></i>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>

@section Scripts{
    <script src="../../plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            // Summernote
            $('#summernote').summernote()
            $('.summernoteEditComment').summernote()
        })
    </script>
}
